<% if @current_user %>
  <h2> Welcome back, <%= @current_user.first_name %>! </h2>
  <br>
  <h1>Rentals Dashboard</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Variant</th>
          <th>Start Date</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Return Rental</th>
        </tr>
      </thead>
      <tbody>
      <% @current_user.rentals.each do |rental| %>
        <% product = ShopifyAPI::Product.find(rental.product_id) %>
        <% variant = ShopifyAPI::Variant.find(rental.variant_id) %>
        <% rental_start_date = rental.start_date.localtime %>
        <% rental_end_date = rental.start_date.localtime + rental.duration.day %>
        <% rental_remaining = rental_end_date.localtime - Time.now %>
        <tr>
          <td><%= link_to product.title, "http://#{Figaro.env.SHOP_FULL_NAME}/products/#{product.handle}" %></td>
          <% if variant.title == "Default Title" %>
            <td>No Sizing</td>
          <% else %>
            <td><%= variant.title %></td>
          <% end %>
          <td><%= rental_start_date.to_formatted_s(:short) %></td>
          <td><%= rental_end_date.to_formatted_s(:short) %></td>
          <% if rental_remaining > 1.day %>
            <td>
              <span class="badge badge-success">
                <%= (rental_remaining / 1.day).round %> days left
              </span>
            </td>
          <% elsif rental_remaining < 0 %>
            <td>
              <span class="badge badge-danger">
                Overdue!</td>
              </span>
          <% elsif rental_remaining < 1.day %>
            <td>
              <span class="badge badge-warning">
                <%= (rental_remaining / 1.hour).round %> hours remaining
              </span>
            </td>
          <% end %>
          <td>
            <%=link_to "Return", rental_path(rental), method: :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
<% else %>
<br>

<%= image_tag "login.jpg" %>
<% end %>
