<% if @current_user %>
  <h2> Welcome back, <%= @current_user.first_name %>! </h2>
  <br>
  <h1>Rentals Dashboard</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Variant</th>
          <th>Start Date</th>
          <th>Due Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% @current_user.rentals.each do |rental| %>
        <% product = ShopifyAPI::Product.find(rental.product_id) %>
        <% variant = ShopifyAPI::Variant.find(rental.variant_id) %>
        <% rental_end_date = rental.start_date + rental.duration.day %>
        <% rental_remaining = rental_end_date - Time.now %>
        <tr>
          <td><%= product.title %></td>
          <td><%= variant.title %></td>
          <td><%= rental.start_date.to_formatted_s(:short) %></td>
          <td><%= rental_end_date.to_formatted_s(:short) %></td>
          <% if rental_remaining > 1.day %>
            <td>
              <span class="badge badge-success">
                <%= (rental_remaining / 1.day).round %> days left
              </span>
            </td>
          <% elsif rental_remaining < 0 %>
            <td>
              <span class="badge badge-danger">
                Overdue!</td>
              </span>
          <% elsif rental_remaining < 1.day %>
            <td>
              <span class="badge badge-warning">
                <%= (rental_remaining / 1.hour).round %> hours remaining
              </span>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
<% else %>
<h2> Please log in to view your Rentals Dashboard </h2>
<% end %>
